name: App CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - "app/**"
      - "Dockerfile"
  pull_request:
    branches: [ "main" ]
    paths:
      - "app/**"
      - "Dockerfile"

permissions:
  contents: read
  packages: write

jobs:
  app:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          docker build \
            -t ghcr.io/${{ github.repository }}/webb:${{ github.sha }} .

      - name: Push image
        if: github.ref == 'refs/heads/main'
        run: |
          docker push ghcr.io/${{ github.repository }}/webb:${{ github.sha }}
